body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    color: brown;
}

main{
    display: flex;
}
main div{
    margin: 1em;
}

#games{
    padding: 0;
}
#games li{
    list-style-type: none;
}
#leader-board{
    margin: 0.5em;
}

input{
    margin: 2px;
}
button{
    margin: 2px;
}
select{
    margin: 2px;
}
.nb-input{
    width: 5em;
}
.leader-board-param{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 8.75em;
}
.sep{
    margin-top: 1em; 
    width: 0.1em;
    background: dimgray;
}
p{
    margin: 0;
}