body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    width: 100%;
    text-align: center;
    color: brown;
    color: rgb(148, 42, 42);
}
h2{
    width: 100%;
    text-align: center;
    color: slateblue;
    color: rgb(63, 37, 90);
}

main{
    display: flex;
}
main div{
    margin: 1.5em;
}
#global-btns{
    display: flex;
}

#games{
    padding: 0;
}
#games li{
    list-style-type: none;
    display: flex;
    align-items: center;
}
#leader-board{
    margin: 0.5em;
}

input{
    margin: 2px;
}
button{
    margin: 2px;
}
.btn-icon_txt{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 2px;
    padding-right: 3px;
}
.btn-icon_txt img{
    margin-right: 5px;
}
.arrow{
    padding: 0;
    height: 22px;
}
.arrow-icon{
    height: 18px;
}
select{
    margin: 2px;
}
.nb-input{
    width: 5em;
}
.leader-board-param{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 8.75em;
}
.sep{
    margin-top: 1em; 
    width: 0.1em;
    background: dimgray;
}
p{
    margin: 0;
}

/* Media Queries for Phones */
@media only screen and (max-width: 600px) {
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    main div{
        margin: 0.25em;
    }
}